.navigation{
    display: flex;
    flex-direction: column;
    width: 100%;
    a{
        display:block;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        font-size: 110%;
    }
    p{
        font-size: 2rem;
        margin-bottom: 0;
        border-bottom: 0.2rem solid var(--primary);
    }
    ul{
        list-style: none;
        padding-inline: 0;
        li{
            border-bottom: 0.1rem solid var(--primary);
            padding: 0.5rem;
            a{
                @media (min-width: 46.875em) {
                    transition: text-shadow 0.3s ease-in-out;
                    &:hover{
                        text-shadow: 0rem 0rem 0.2rem var(--text);
                    }
                }
            }
        }
        .curent{
            text-decoration: underline;
        }
    }
    @media (min-width: 46.875em) {
        ul{
            justify-content: right;
            display: flex;
            gap: 1rem;
            li{
                align-content: center;
                border-bottom: none;
            }
        }
    }
}
.navigation-img{
    img{
        font-size: 2rem;
        margin-bottom: 0;
        border-radius: var(--round);
    }
}

.navigation-solid{
    background-color: var(--primary);
    color: var(--primary-text);
    p{
        border-color: var(--primary-text);
    }
    ul{
        list-style: none;
        padding-inline: 0;
        li{
            border-color: var(--primary-text);
        }
    }
}

.navigation-breadcrumb{
    ol{
        margin: 0;
        max-width: var(--containerWidth);
        margin-inline: auto;
        padding-inline: var(--containerPadding);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            &::after{
                content: ">";
                margin-inline: 0.5rem;
                text-decoration: none;
            }
            &:last-child{
                &::after{
                    content: "";
                }
            }
        }
    }
}