.nav{
    display: flex;
    background-color: var(--primary);
    ul{
        color: var(--white);
        list-style: none;
        width: 100%;
        font-weight: bold;
        li{
            font-size: 110%;
            border-bottom: 0.1rem solid var(--white);
            a{
                display:block;
                text-decoration: none;
                color: inherit;
                @media (min-width: 46.875em) {
                    transition: text-shadow 0.3s ease-in-out;
                    &:hover{
                        text-shadow: 0rem 0rem 0.2rem var(--light-mode-text);
                    }
                }
            }
        }
    }
    @media (min-width: 46.875em) {
        img{
            width: 5rem;
        }
        ul{
            justify-content: right;
            display: flex;
            gap: 1rem;
            li{
                align-content: center;
                border-bottom: none;
            }
        }
    }
}
.nav-name{
    flex-direction: column;
    p{
        font-weight: bold;
        text-align: center;
        color: var(--white);
        font-size: 2rem;
        margin-bottom: 0;
    }
    ul{
        padding: 0;
        li{
            text-align: center;
        }
    }
    @media (min-width: 46.875em) {
        display: flex;
        flex-direction: row;
        p{
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: left;
            transition: text-shadow 0.3s ease-in-out;
            transition: text-decoration 0.3s ease-in-out;
            &:hover{
                text-shadow: 0rem 0rem 0.2rem var(--light-mode-text);
                text-decoration: underline;
            }
        }
    }
}
.nav-breadcrumb{
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    background-color: var(--primary);
    margin-bottom: 0;
    li{
        margin-top: 0;
        color: var(--white);
        display: flex;
        align-items: center;
        a{
            color: inherit;
        }
        &::after{
            content: ">";
            margin-inline: 0.5rem;
            text-decoration: none;
        }
        &:first-child::before {
            content: none; 
          }
    }
}