.nav{
    display: flex;
    background-color: var(--primary);
    ul{
        color: var(--white);
        list-style: none;
        width: 100%;
        li{
            font-size: 110%;
            border-bottom: 0.1rem solid var(--white);
            a{

                display:block;
                text-decoration: none;
                color: inherit;
            }
        }
    }
    @media (min-width: 46.875em) {
        img{
            width: 5rem;
        }
        ul{
            
            justify-content: right;
            display: flex;
            gap: 1rem;
            li{
                align-content: center;
                border-bottom: none;
            }
        }
    }
}