:root{
    /* Colors */
    --primary: #5d5bda;
    --error-color: #b50000;


    /* Light mode */
    --light-mode-text: #000000;
    --light-mode-bg: #ffffff;

    /* dark mode */
    --dark-mode-text: #ffffff;
    --dark-mode-bg: #404040;

    /* combination */
    color-scheme: light dark;
    --text: light-dark(var(--light-mode-text), var(--dark-mode-text));
    --bg: light-dark(var(--light-mode-bg), var(--dark-mode-bg));
    color: var(--text);
    background-color: var(--bg);

    /* just colors */
    --white: #ffffff;
    --gray: #494949;
    --light-gray: #d6d6d6;

}