/* colors + typography */
:root{
    /* Colors */
    --primary: #5d5bda;

    /* Light mode */
    --light-mode-text: #000000;
    --light-mode-background: #f5f5f5;

    /* dark mode */

    /* just colors */
    --white: #ffffff;
    --gray: #494949;



    /* Typografie */
    font-family: "DM Sans", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    h2{
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}